name: Build and Push Docker Image

on:
  workflow_dispatch:  # Manual trigger
  push:
    branches:
      - main
      - feature/pdf-parsing-pipeline

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ravinala
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ravinala/pdf-parser:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
